<html>
    <head>

    </head>

    <body>
        <h1 class="text-4xl font-thin text-black text-center">
            Welcome to my Personal Productivity and Workout tracking center.
          </h1>
          <a href="/workout-tracker" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:red:bg-blue-700 focus:outline-none dark:focus:ring-red-800 absolute left-0">Workout Tracker</a>
          <a href="/productivity-tracker" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:green:bg-green-700 focus:outline-none dark:focus:ring-green-800 absolute right-0">Productivity Tracker</a>
    </body>
</html>
