<section>

<form action="/workout-tracker" method="post" class="content-center" style="align-content:center">
    <input type="text" name="satisfaction" id="satisfaction" required class="text-center"/>
    <input type="submit">
</form>
</section>
